{
  "book":"genrel",
  "title":"General Relativity",
  "url":"http://www.lightandmatter.com/genrel",
  "base_dir":"..",
  "script_dir":"scripts",
  "html_dir":"~/Generated/html_books/genrel",
  "sty_dir":".",
  "number_sections_at_depth":4,
  "spew_figs_at_level":4,
  "restart_figs_at_level":2,
  "highest_section_level":5
}
