{
  "all_figs_inline":0,
  "max_fig_width_pixels":-1,
  "allow_png":1,            
  "forbid_mathml":0,        
  "forbid_images_inside_text":0,
  "standalone":0,
  "scale_for_bitmapped_equations":100,
  "forbid_anchors_and_links":0,
  "text_width_pixels":500,
  "ad_width_pixels":728,
  "margin_width_mm":80,
  "mime_type":"",
  "html_file_extension":"",
  "mathml_plus_fallback":0,
  "mathml_with_epub3_switch":0
}
