{
  "book":"sr",
  "title":"Special Relativity",
  "url":"http://www.lightandmatter.com/sr",
  "base_dir":"..",
  "script_dir":"scripts",
  "html_dir":"~/Generated/html_books/sr",
  "sty_dir":".",
  "number_sections_at_depth":4,
  "spew_figs_at_level":4,
  "restart_figs_at_level":2,
  "highest_section_level":5
}
